:root {
  color: #1d160d;
  background-color: #ece1c6;
  font-family:
    'Georgia', 'Times New Roman', 'PT Serif', serif;
  font-synthesis: none;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ece1c6;
}
